<div class="bg-cover">
    <div class="bg-sky-950 h-96">
        <div class="p-6 back">
            <img class="w-8" src="Assets/img/Arrow.svg" alt="">
        </div>
        <div class="flex flex-col items-center">
            <div class="">
                <img src="Assets/img/logo.png" alt="" class="">
            </div>
            <div class="pt-5">
                <h3 class="text-xl font-bold">Create an account to start</h3>
            </div>
        </div>
        <div class="flex flex-col items-center absolute w-full top-[350px] ">
            <div class="flex flex-col justify-center items-center bg-neutral-50 h-[425px] w-4/5 rounded-xl">
                <form id="register-form" class="justify-center items-center flex flex-col gap-5 m-0 w-4/5 pt-2"
                    onsubmit="registerUser(event)">
                    <input
                        class="mt-[1%] w-4/5 h-14 rounded-xl text-xl font-bold bg-neutral-50 shadow-md shadow-gray-300 pl-2 outline-none text-black"
                        type="text" id="full-name" placeholder="Name">
                    <input
                        class="mt-[-1%] w-4/5 h-14 rounded-xl text-xl font-bold bg-neutral-50 shadow-md shadow-gray-300 pl-2 outline-none text-black"
                        type="email" id="email" placeholder="Email">
                    <input
                        class="mt-[-1%] w-4/5 h-14 rounded-xl text-xl font-bold bg-neutral-50 shadow-md shadow-gray-300 pl-2 outline-none text-black"
                        type="password" id="password" placeholder="Password">
                    <button class="mt-[-1%] signup-view bg-sky-950 h-14 w-4/5 rounded-xl text-xl font-bold"
                        id="sign-up-button" type="submit">Sign Up</button>
                    <span class="m-[-1px] text-black">OR</span>
                    <button class="mt-[-1%] login-view bg-sky-950 h-14 w-4/5 rounded-xl text-xl font-bold"
                        type="button">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function registerUser(event) {
        event.preventDefault();

        var fullName = document.getElementById('full-name').value;
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;

        console.log("Full Name:", fullName);
        console.log("Email:", email);
        console.log("Password:", password);

        if (!validateEmail(email)) {
            console.log("Invalid email format.");
            Swal.fire({
                icon: 'warning',
                title: 'Error...',
                text: 'Invalid email',
                customClass: {
                    popup: 'bg-white border border-yellow-300 rounded-md shadow-sm w-64',
                    title: 'font-semibold text-fc2 text-md',
                    content: 'text-gray-700 text-sm',
                },
                timer: 3000,
                showConfirmButton: false,
                toast: true,
                position: 'top-end',
            });
            return;
        }

        if (password.length < 6) {
            console.log("Password too short.");
            Swal.fire({
                icon: 'warning',
                title: 'Error...',
                text: 'Password must be 6 characters',
                customClass: {
                    popup: 'bg-white border border-yellow-300 rounded-md shadow-sm w-64',
                    title: 'font-semibold text-fc2 text-md',
                    content: 'text-gray-700 text-sm',
                },
                timer: 3000,
                showConfirmButton: false,
                toast: true,
                position: 'top-end',
            });
            return;
        }

        console.log("Starting Firebase authentication...");

        firebase.auth().createUserWithEmailAndPassword(email, password)
            .then((userCredential) => {
                console.log("User created successfully:", userCredential);
                const user = userCredential.user;
                return db.collection('Usuarios').doc(user.uid).set({
                    fullName: fullName,
                    email: email,
                });
            })
            .then(() => {
                console.log("User data saved to Firestore.");
                Swal.fire({
                    icon: 'success',
                    title: 'Registration completed',
                    timer: 2000,
                    showConfirmButton: false,
                    customClass: {
                        popup: 'bg-white border border-green-300 rounded-md shadow-sm w-64',
                        title: 'font-semibold text-fc2 text-md',
                        content: 'text-gray-700 text-sm',
                    },
                    toast: true,
                    position: 'top-end',
                }).then(() => {
                    loadPartialView('homepage', document.querySelector('.app'), false);
                });
            })
            .catch((error) => {
                console.error("Error during registration:", error);
                let errorMessage = error.message;

                if (errorMessage.includes('auth/email-already-in-use')) {
                    errorMessage = 'Email in use.';
                } else if (errorMessage.includes('auth/weak-password')) {
                    errorMessage = 'Password must be 6 characters.';
                } else if (errorMessage.includes('auth/invalid-email')) {
                    errorMessage = 'Unvalid email, please add a valid email.';
                }

                Swal.fire({
                    icon: 'warning',
                    title: 'Error...',
                    text: errorMessage,
                    customClass: {
                        popup: 'bg-white border border-yellow-300 rounded-md shadow-sm w-64',
                        title: 'font-semibold text-fc2 text-md',
                        content: 'text-gray-700 text-sm',
                    },
                    timer: 3000,
                    showConfirmButton: false,
                    toast: true,
                    position: 'top-end',
                });
            });
    }

    function validateEmail(email) {
        const re = /\S+@\S+\.\S+/;
        const result = re.test(email);
        console.log("Email validation result:", result);
        return result;
    }


    document.querySelector('.login-view').addEventListener('click', function () {
        loadPartialView('login', document.querySelector('.app'), false);
    })
    document.querySelector('.back').addEventListener('click', function () {
        loadPartialView('start', document.querySelector('.app'), false);
    })
</script>