<div class="bg-cover">
    <div class="bg-sky-950 h-96">
        <div class="p-6 back">
            <img class="w-8" src="Assets/img/Arrow.svg" alt="">
        </div>
        <div class="flex flex-col items-center">
            <div class="">
                <img src="Assets/img/logo.png" alt="" class="">
            </div>
            <div class="pt-5">
                <h3 class="text-xl font-bold">Create an account to start</h3>
            </div>
        </div>
        <div class="flex flex-col items-center absolute w-full top-[350px] ">
            <div class="flex flex-col justify-center items-center bg-neutral-50 h-[400px] w-4/5 rounded-xl">
                <div class="w-4/5 pt-2 pb-2">
                    <input
                        class="w-full h-14 rounded-xl text-xl font-bold bg-neutral-50 shadow-md shadow-gray-300 pl-2 outline-none text-black"
                        type="text" placeholder="Name" id="rName">
                </div>
                <div class="w-4/5 pt-2">
                    <input
                        class="w-full h-14 rounded-xl text-xl font-bold bg-neutral-50 shadow-md shadow-gray-300 pl-2 outline-none text-black"
                        type="email" placeholder="Email" id="rEmail">
                </div>
                <div class="w-4/5 pt-2 pb-2">
                    <input
                        class="w-full h-14 rounded-xl text-xl font-bold bg-neutral-50 shadow-md shadow-gray-300 pl-2 outline-none text-black"
                        type="password" placeholder="Password" id="rPassword">
                </div>
                <div class="w-4/5" id="submitSignUp">
                    <button class="signup-view bg-sky-950 h-14 w-full rounded-xl text-xl font-bold" type="button">Sign
                        Up</button>
                </div>
                <div class="p-2">
                    <span class="text-black">OR</span>
                </div>
                <div class="w-4/5">
                    <button class="login-view bg-sky-950 h-14 w-full rounded-xl text-xl font-bold" type="button">Sign
                        In</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const signUp = document.getElementById('submitSignUp');
    signUp.addEventListener('click', (event) => {
        event.preventDefault();
        console.log("Sign Up button clicked");

        const name = document.getElementById('rName').value;
        const email = document.getElementById('rEmail').value;
        const password = document.getElementById('rPassword').value;

        firebase.auth().createUserWithEmailAndPassword(email, password)
            .then((userCredential) => {
                const user = userCredential.user;
                console.log('Account Created with UID:', user.uid); // Confirmación de creación de cuenta
        
                return db.collection('users').doc(user.uid).set({
                    fullName: fullName,
                    email: email
                });
            })
            .catch((error) => {
                if (error && error.code) {
                    const errorCode = error.code;
                    console.error('Error creating account:', errorCode); // Error en creación de cuenta

                    if (errorCode === 'auth/email-already-in-use') {
                        console.log('Email address already in use');
                    } else {
                        console.log('Unable to create this account');
                    }
                } else {
                    console.error('Unexpected error occurred:', error); // Manejo de errores inesperados
                }
            });
    });

    document.querySelector('.login-view').addEventListener('click', function () {
        loadPartialView('login', document.querySelector('.app'), false);
    });

    document.querySelector('.back').addEventListener('click', function () {
        loadPartialView('start', document.querySelector('.app'), false);
    });
</script>